html{
    font-size: 62.5%;
    
}
body{
    margin : 0;
    padding-top : 10%;
    font-size : 2rem;
    font-weight : lighter;
    color : rgba(0, 0, 0, 0.692);
}

p img{
    max-width : 45px;
    vertical-align: -.4cm; 
}

span{
    color : rgba(17, 0, 255, 0.76);
}

div{
    display:flex;
    justify-content: space-between;
    height : 50px;
    padding : 1%;
    border : 2px solid #0f9;
    border-radius: 6px 6px 6px 6px;
    margin : 3%;
}

div > p{
    font-size: 2rem;
}

button{
    width : 150px;
    height : 45px;
    border-radius: 8px 8px 8px 8px;
    font-size: 2.5rem;
    background-color: #0f9;
    color : rgba(0, 0, 0, 0.692);
    border : none;
}

button img{
    max-width : 27px;
    margin-right : 4%;
    vertical-align: -.2cm;
    opacity: 0.4;
 }