html{
    font-size : 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.774);
    padding-top : 15%;
}

figure{
    display:flex;
    justify-content: flex-start;
    background-color: rgba(31, 24, 24, 0.938);
    height : 250px;
    box-shadow: 0 0 30px black;
}

img{
    max-height: 100%;
    
}

figcaption{
    padding-left : 2%;
    padding-top  : 3%;
    color : whitesmoke;
}

h2{
    font-size: 2.5rem;
}

p{
    font-size : 1.5rem;
}